<html>
	<head>
	<script src="/js/jquery.min.js"></script><script src="/js/angular.min.js"></script><script src="/js/bootstrap.min.js"></script><script src="/js/main.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/><link href="/css/font-awesome.min.css" rel="stylesheet"/><link href="/css/bootstrap.min.css" rel="stylesheet"/><link href="/css/main.css" rel="stylesheet" type="text/css"/><link rel="icon" href="/img/icon.png"/><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
	</head>
	<body ng-app="myApp">
	<script src="/js/navbar.js"></script>
		<div id="main-content" ng-controller="ProductList">
			<div class="max-sized">
				<ol class="breadcrumb">
					<li><a href="http://antenuccibernardistim.altervista.org/tim/devices/index.html">Devices</a></li>
					<li class="active" id="breadcactive">{{category}}</li>
				</ol>
				<h1 id="main-title"></h1>
				<div class="row">
					<div class="col-sm-12 col-md-3 filters"><div class="caption"><div class="thumbnail">
						<form id="filters">
						<div class="box">
						<h4>Filters <i class="fa fa-2 fa-angle-up" class="collapsed" data-toggle="collapse" data-target="#filtercollapse" aria-expanded="false" aria-hidden="true"></i></h4>
						</div>
						<div id="filtercollapse" class="collapse in">
						<div class="box">
						<h4>Type</h4>
						<div ng-repeat="x in types"><input type="checkbox" name="type" ng-click="updateDevices()" value="type='{{x.type}}'"/>{{capitalizeFirstLetter(x.type)}}<br/></div>
						</div>
						<div class="box">
						<h4>Price</h4>
						<div ng-repeat="x in priceSteps">
						<input type="checkbox" name="price" value="{{x.value}}" ng-click="updateDevices()"/>{{x.text}}<br/>
						</div>
						</div>
						<div class="box">
						<h4>Brand</h4>
						<div ng-repeat="x in brands"><input type="checkbox" name="brand" ng-click="updateDevices()" value="brand='{{x.brand}}'"/>{{x.brand}}<br/></div>
						</div>
						</div>
						</form>
					</div></div></div>
					<div class="col-sm-12 col-md-9 devices"><div class="caption">
						<div class="col-sm-12 col-md-4 device" ng-repeat="x in devices" on-finish-render="ngRepeatFinished">
						<a href="device/index.html?id={{x.id}}">
						<div class="caption"><div class="thumbnail">
							<div class="sl-icon">
								<img class="thumbimg" ng-src="device/deviceimages/{{ x.image }}"/>
							</div>
							<h3>{{ x.name }}</h3>
							<div class="price-block">
								<h6 class="original-price" ng-show="checkDiscount(x)">{{ x.original_price | currency:"" }}&euro;</h6>
								<h4 ng-show="!checkInstallments(x)">{{ x.price | currency:"" }}&euro;</h4>
								<h4 ng-show="checkInstallments(x)">{{ calculateInstallment(x) | currency:"" }}&euro;/month</h4>
							</div>
							<div class="installments-info" ng-show="checkInstallments(x)">in {{ x.installment }} installments at zero interests</div>
						</div></div>
						</a>
						</div>
					</div></div>
				</div>
			</div>
		</div>
	<script src="/js/footer.js"></script>
	</body>
</html>
